{% extends 'helpcenter/base.html' %}

{% block page_title %}{{ category.title }}{% endblock %}

{% block content %}

  <h1>{{ category.title }}</h1>

  {% if perms.change_category %}
    <a href='{{ category.get_update_url }}'>Edit Category</a>
  {% endif %}

  {% if categories %}

    <h2>Sub Categories</h2>

    {% include 'helpcenter/snippets/category_listing.html' %}

  {% endif %}

  {% if articles %}

    <h2>Articles</h2>

    {% include 'helpcenter/snippets/article_listing.html' %}

  {% endif %}

  <a href='{{ category.get_parent_url }}'>Back</a>

{% endblock %}