{% extends 'helpcenter/base.html' %}

{% block page_title %}{{ category.title }}{% endblock %}

{% block content %}

  <h1>{{ category.title }}</h1>

  {% if categories %}

    <h2>Sub Categories</h2>

    {% include 'helpcenter/snippets/category_listing.html' %}

  {% endif %}

  {% if articles %}

    <h2>Articles</h2>

    <div class='articles'>

      {% for article in articles %}

        <div class='article'>
          <h3><a href='{% url "article-detail" article.pk %}'>{{ article.title }}</a></h3>
        </div>

      {% endfor %}

    </div>

  {% endif %}

  <a href='{{ category.get_parent_url }}'>Back</a>

{% endblock %}