{% extends 'helpcenter/base.html' %}

{% block page_title %}Help Center{% endblock %}

{% block content %}

  <h1>Help Center</h1>

  {% if categories %}

    <h2>Categories</h2>

    <div class='categories'>

      {% for category in categories %}

        <div class='category'>
          <h3><a href='{% url "category-detail" category.pk %}'>{{ category.title }}</a></h3>
        </div>

      {% endfor %}

    </div>

  {% endif %}

  {% if articles %}

    <h2>Articles</h2>

    <div class='articles'>

      {% for article in articles %}

        <div class='article'>
          <h3><a href='{% url "article-detail" article.pk %}'>{{ article.title }}</a></h3>
        </div>

      {% endfor %}

    </div>

  {% endif %}

{% endblock %}