{% extends 'helpcenter/base.html' %}

{% block page_title %}Help Center{% endblock %}

{% block content %}

  <h1>Help Center</h1>

  <form id='search-form' action='{% url "helpcenter:search" %}' method='get'>
    <label for='search-input'>Search for Articles: </label>
    <input type='text' id='search-input' name='q' placeholder='Enter your search term' />

    <button type='submit'>Search</button>
  </form>

  {% if categories %}

    <h2>Categories</h2>

    {% include 'helpcenter/snippets/category_listing.html' %}

  {% endif %}

  {% if articles %}

    <h2>Articles</h2>

    {% include 'helpcenter/snippets/article_listing.html' %}

  {% endif %}

{% endblock %}